@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(26, 25, 25);
}

main {
    background-color: rgb(44, 43, 43);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 73vw;
    height: 550px;
    border-radius: 10px;
}

section#imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

section#l-b{

}

article#b {

}

section#l-b > article#b > h1, p {
    color: white;
    font-size: 1.6em;
    text-align: center;
}

section#l-b > article#b > p {
    color: greenyellow;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 15px;
}

section#l-b > article#b > p.bio {
    color: rgb(158, 156, 156);
}

article#l {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

a {

}

button {
    flex: auto;
    cursor: pointer;
    background-color: rgb(65, 64, 64);
    color: white;
    text-align: center;
    font-weight: bold;
    width: 60vw;
    height: 40px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(134, 133, 133);
    transition: background-color .5s;
}